<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iosCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9AD292C01BDF3BE40033FB7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AD292D41BDF3BE50033FB7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AD292DF1BDF3BE50033FB7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
